# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Hardhat artifacts
artifacts/
cache/
typechain/
coverage/
coverage.json

# Environment variables
.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Frontend local files
frontend/.env
frontend/node_modules/

# Hardhat local network
hardhat-network/

# Misc
dist/
build/